.movieitem{
    cursor: pointer; 
    // padding: 10px 40px;
    img{
        width: 100%;
        transition: all .3s ease;
        &:hover{
            transform: scale(1.05);
        }

        // @media(max-width: 480px){
        //     height: 300px;
        //     object-fit: cover;
        // }
    }
    &-descr{
        margin-top: 5px;
        display: flex;
        align-items: center;
        gap: 5px;
        img{
            width: 17px;
        }
        .dot{
            width: 5px;
            height: 5px;
            border-radius: 100%;
            background-color: red;
        }
    }
}